{
    "Port": <portNumber>,
    "DatabaseConnectionString": "<your_db_connection_string>",
    "StockInfoProviderURL": "<stock_information_provider>",
    "PeUpdateInterval": "<updateIntervalString>",
    "DivYieldUpdateInterval": "<updateIntervalString>",
    "StockUpdateInterval": "<updateIntervalString>"
}